extend BackendLayout

block Content
  div.my-3.my-md-5
    div.container
      div.row
        div.col-12
          form.card(action="/administration/addInstitute", method="post")
            div.card-header
              h3.card-title New User/Institute
            div.card-body
              div.row
                div.col-md-3.col-lg-12
                  div.form-group
                    label.form-label Name of the institute
                    input.form-control(type="text", name="Name_Input", placeholder="Please enter the name for institute")

                  div.form-group
                    label.form-label URL of the institute
                    div.input-group
                      span.input-group-prepend#basic-addon3
                        span.input-group-text https://
                      input.form-control(type="text", name="URL_Input", placeholder="Please enter the URL for institute")

                  div.form-group
                    label.form-label Welcome Message
                    input.form-control(type="text", name="Message_Input", placeholder="This will be the message at the bottom")

                div.col-md-3.col-lg-3
                  div.form-group
                    label.form-label Number of Unique Patients
                    input.form-control(type="number", name="UniquePatient_Input", placeholder="Please enter the number of unique patients for this institute")

                div.col-md-3.col-lg-3
                  div.form-group
                    label.form-label Number of Patient Annual Visits
                    input.form-control(type="number", name="AnnualVisit_Input", placeholder="Please enter the number of patient annual visits")

                div.col-md-3.col-lg-3
                  div.form-group
                    label.form-label Number of Care Providers
                    input.form-control(type="number", name="CareProviders_Input", placeholder="Please enter the number of care providers")

                div.col-md-3.col-lg-3
                  div.form-group
                    label.form-label Phone Number
                    input.form-control(type="number", name="Phone_Input", placeholder="Please enter the contact info")

                div.col-md-3.col-lg-3
                  div.form-group
                    label.form-label Specialty of the Clinic
                    input.form-control(type="txt", name="Specialty_Input", placeholder="Please enter the speciality of the clinic")

                div.col-md-3.col-lg-9
                  div.form-group
                    label.form-label Location of the Clinic
                    input.form-control(type="txt", name="Location_Input", placeholder="Please enter the address of the clinic")

                div.col-md-3.col-lg-12
                  div.form-group
                    label.form-label Description
                    input.form-control(type="txt", name="Description_Input", placeholder="Please enter the description for the clinic")

            div.card-footer.text-right
              div.d-flex
                a(href="/administration/index").btn.btn-link Cancel
                button.btn.btn-primary.ml-auto(type="submit") Create User
