extend BackendLayout

block Content
  div.my-3.my-md-5
    div.container
      div.row
        div.col-12
          form.card(action="/administration/addInstitute", method="post")
            div.card-header
              h3.card-title New User/Institute
            div.card-body
              div.row
                div.col-md-3.col-lg-12
                  div.form-group
                    label.form-label Name of the institute
                    input.form-control(type="text", name="Name_Input", placeholder="Please enter the name for institute")

                  div.form-group
                    label.form-label URL of the institute
                    div.input-group
                      span.input-group-prepend#basic-addon3
                        span.input-group-text https://
                      input.form-control(type="text", name="URL_Input", placeholder="Please enter the URL for institute")

                  div.form-group
                    label.form-label Welcome Message
                    input.form-control(type="text", name="Message_Input", placeholder="This will be the message at the bottom")

            div.card-footer.text-right
              div.d-flex
                a(href="/administration/index").btn.btn-link Cancel
                button.btn.btn-primary.ml-auto(type="submit") Create User
