extends layout

block content
  div.slideshow.fullpageImage(style="background-image: url(images/img1.jpg);")
  div.slideshow.fullpageImage(style="background-image: url(images/img2.jpg);")

  script.
    var myIndex = 0;
    function carousel() {
        var i;
        var x = document.getElementsByClassName("slideshow");
        console.log(x)
        console.log(x.length)
        for (i = 0; i < x.length; i++) {
           x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) {myIndex = 1}
        x[myIndex-1].style.display = "block";
        console.log("Change Image")
        setTimeout(carousel, 5000); // Change image every 2 seconds
    }
    carousel();
