body, html {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow：hidden；
}

.logo {
  position: absolute;
  top: 5%;
  left: 5%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fullpage {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slideshowContainer {
  height: 60%;
  width: 58%;
  position: absolute;
  top: 22%;
  left: 5.5%;
  background-image: url(/images/Orange.jpg);
}

.personalContainer {
  height: 60%;
  width: 23%;
  position: absolute;
  top: 22%;
  left: 71%;
  background-image: url(/images/Orange.jpg);
}

.slideshowImage {
  height: 55%;
  width: 55%;
  position: absolute;
  top: 24.5%;
  left: 7%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slideshowProfile {
  height: 55%;
  width: 20%;
  position: absolute;
  top: 24.5%;
  left: 72.5%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slideshow {
  display: none;
}

.slideshow2 {
  display: none;
}

.footerText {
  position: absolute;
  top: 85%;
  left: 7%;
  font-family: Verdana,Geneva,sans-serif;
  font-size: 15pt;
}
